{% extends 'base.html' %}

{% block title %}Add station{% endblock %}

{% block content %}
<div class="card text-center w-75 mx-auto">
    <div class="card-header">
        Register a new station
    </div>
    <div class="card-body">
        <form method="POST">
            {% for field in form %}
            <div class="mb-3 row">
                {{ field.label }} {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit changes">
        </form>
    </div>
</div>
{% endblock %}