{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <h4>Background jobs</h4>
    <div class="card-group">
        {% for jb in jobs %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ jb.full_name }}</h5>
                <p class="card-text">{{jb.description}}</p>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('jobs.manual_run', job=jb.job_name) }}" class="btn btn-outline-success">Run job now</a>
                {%if JobState(jb.state).name == 'stopped'%}
                <a href="{{ url_for('jobs.manual_resume', job=jb.job_name) }}" class="btn btn-outline-warning">Resume job</a>
                {%else%}
                <a href="{{ url_for('jobs.manual_stop', job=jb.job_name) }}" class="btn btn-outline-info">Stop job</a>
                {%endif%}
            </div>
            <div class="card-footer {%if JobState(jb.state).name == 'stopped'%}bg-info
                                    {%elif JobState(jb.state).name == 'running'%}bg-primary
                                    {%elif JobState(jb.state).name == 'pending'%}bg-success
                                    {%elif JobState(jb.state).name == 'warn'%}bg-warning
                                    {%elif JobState(jb.state).name == 'error'%}bg-danger
                                    {%endif%}">
                <small class="text">
                    job state: {{JobState(jb.state).name}} <br>
                    last execution: {% if jb.last_execution %}{{ jb.last_execution.strftime('%Y-%m-%d %H:%M:%S') }}
                    {% else %}never{%endif%}
                </small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="row">
    <h4>Monitored stations</h4>
    <div class="card-group">
        {% if stations %}
        {% for st in stations %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ st.common_name }}</h5>
                <table class="table">
                    <tbody>
                        <tr>
                          <th scope="row">IP</th>
                          <td>{{ st.ip }}</td>
                          <td>{% if st.ping_alert %}<span class="iconify" data-icon="noto:red-circle"></span> unreachable
                            {% else %}<span class="iconify" data-icon="noto:green-circle"></span> reachable
                            {% endif %}</td>
                        </tr>
                        <tr>
                          <th scope="row">Current API water level</th>
                          <td>{% if st.last_hydro %}{{ st.last_hydro/1000 }}{% endif %} m</td>
                          <td>{{ st.last_hydro_time }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Current video water level</th>
                            <td>{% if st.water_level %}{{ st.water_level }}{% endif %} m</td>
                          </tr>
                        <tr>
                            <th scope="row">Current recording mode</th>
                            <td>{{ RecordMode(st.current_recording).name }} 
                                {%if st.current_daymode == 1%}<span class="iconify" data-icon="emojione:sun">day mode</span>
                                {%elif st.current_daymode == 0%}<span class="iconify" data-icon="bi:moon-fill">night mode</span>
                                {%endif%}</td>
                            <td>Since {{ st.last_record_change }}</td>
                          </tr>
                        <tr>
                          <th scope="row">4G data plan usage</th>
                          <td>{% if st.current_data %}{{ st.current_data / 1000 }}{%endif%}/{% if st.monthly_data %}{{ st.monthly_data / 1000 }}{%endif%} Gb</td>
                          <td>Reset day: {{ st.reset_day }}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="card-footer">
                <small class="text-muted">added {{ st.created.strftime('%Y-%m-%d') }}</small>
            </div>
        </div>
        {% endfor %}
        {%endif%}
    </div>
</div>

{% endblock %}