{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <h4>Running jobs</h4>
    <div class="card-group">
        {% for jb in jobs %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ jb['full_name'] }}</h5>
                <p class="card-text">{{jb['description']}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    last execution: {% if jb['last_execution'] %}{{ jb['last_execution'].strftime('%Y-%m-%d %H:%M:%S') }}
                    {% else %}never{%endif%}
                </small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="row">
    <h4>Monitored stations</h4>
    <div class="card-group">
        {% if stations %}
        {% for st in stations %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ st['common_name'] }}</h5>
                <table class="table">
                    <tbody>
                        <tr>
                          <th scope="row">IP</th>
                          <td>{{ st['ip'] }}</td>
                          <td>reachable/unreachable</td>
                        </tr>
                        <tr>
                          <th scope="row">Current water level</th>
                          <td>{{ st['last_hydro']/100 }} m</td>
                          <td>{{ st['last_hydro_time'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Current recording mode</th>
                            <td>5fpm/3fps{{ st['current_recording'] }}</td>
                            <td>Since {{ st['last_record_change'] }}</td>
                          </tr>
                        <tr>
                          <th scope="row">4G data plan usage</th>
                          <td>{{ st['used_data'] }}/{{ st['monthly_data'] / 1000}} Gb</td>
                          <td>Reset on {{ st['reset_day'] }}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="card-footer">
                <small class="text-muted">added {{ st['created'].strftime('%Y-%m-%d') }}</small>
            </div>
        </div>
        {% endfor %}
        {%endif%}
    </div>
</div>

{% endblock %}