{% extends 'base.html' %}

{% block title %}Edit station{% endblock %}

{% block content %}
<div class="card text-center w-75 mx-auto">
    <div class="card-header">
        Edit station {{ station['common_name'] }}
    </div>
    <div class="card-body">
        <form method="POST">
            {% for field in form %}
            <div class="mb-3 row">
                {{ field.label }} {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit changes">
        </form>
    </div>
    <div class="card-footer">
        <form action="{{ url_for('station.delete', id=station['id']) }}" method="post">
            <input class="btn btn-danger" type="submit" value="Delete station"
                onclick="return confirm('Are you sure? This action is irreversible');">
        </form>
    </div>
</div>
{% endblock %}